<!DOCTYPE HTML>

<html lang="fr">
	<head>
		<title>DUT INFO - Année spéciale</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="icon" href="/images/favico.ico" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" >
					<h1><a href="index.html">Département Informatique</a> </h1>
					<nav id="nav">
						<ul>
							<li><a href="index.html">Actualités</a></li>
							<li>
								<a href="#">Stages</a>
								
									<li><a href="http://lpsil.iutmetz.univ-lorraine.fr/">License Pro</a></li>
									<li>
										<a href="#" class="icon fa-angle-down">Pendant le DUT</a>
										<ul>
											<li><a href="pres_requis.html">Pré-requis</a></li>
											<li><a href="premiere_annee.html">Première année</a></li>
											<li><a href="deuxieme_annee.html">Deuxième année</a></li>
											<li><a href="annee_speciale.html">Année spéciale</a></li>
										</ul>
									</li>
                            <li><a href="#">Après le DUT</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<section id="main" class="container">
					<header>
						<h2>Année spéciale</h2>
						<p>Présentation des projet de l'année spéciale durant le DUT Informatique de Metz </p>
					</header>
					

				<div class="box1">
				<p> Les étudiants doivent réalisés huit projets.</p>
					<div class="box">
						<h2>BdD</h2>
                        <!--
					       <p></p>
					           <h3>Objectifs visés</h3>
					               <p></p>
					               <p></p>
                                        <span class="image featured"><a href="ressources/.pdf" target="_blank"><img src="images/" alt="" width="700" height="700" /></a></span>
                        -->
					</div>	
                    <div class="box">
						<h2>Web 1 </h2>
                        <!--
					       <p></p>
					           <h3>Objectifs visés</h3>
					               <p></p>
					               <p></p>
                                        <span class="image featured"><a href="ressources/.pdf" target="_blank"><img src="images/" alt="" width="700" height="700" /></a></span>
                        -->
					</div>
                    <div class="box">
						<h2>Algo Java</h2>
                        <!--
					       <p></p>
					           <h3>Objectifs visés</h3>
					               <p></p>
					               <p></p>
                                        <span class="image featured"><a href="ressources/.pdf" target="_blank"><img src="images/" alt="" width="700" height="700" /></a></span>
                        -->
					</div>
                    <div class="box">
						<h2>C++</h2>
                        <!--
					       <p></p>
					           <h3>Objectifs visés</h3>
					               <p></p>
					               <p></p>
                                        <span class="image featured"><a href="ressources/.pdf" target="_blank"><img src="images/" alt="" width="700" height="700" /></a></span>
                        -->
					</div>	
                    <div class="box">
						<h2>PPO java</h2>
                        <!--
					       <p></p>
					           <h3>Objectifs visés</h3>
					               <p></p>
					               <p></p>
                                        <span class="image featured"><a href="ressources/.pdf" target="_blank"><img src="images/" alt="" width="700" height="700" /></a></span>
                        -->
					</div>
                    <div class="box">
						<h2>Etude de synthèse</h2>
                        <!--
					       <p></p>
					           <h3>Objectifs visés</h3>
					               <p></p>
					               <p></p>
                                        <span class="image featured"><a href="ressources/.pdf" target="_blank"><img src="images/" alt="" width="700" height="700" /></a></span>
                        -->
					</div>
                    <div class="box">
						<h2>Web 2</h2>
                        <!--
					       <p></p>
					           <h3>Objectifs visés</h3>
					               <p></p>
					               <p></p>
                                        <span class="image featured"><a href="ressources/.pdf" target="_blank"><img src="images/" alt="" width="700" height="700" /></a></span>
                        -->
					</div>
                    <div class="box">
						<h2>CO avancée</h2>
                        <!--
					       <p></p>
					           <h3>Objectifs visés</h3>
					               <p></p>
					               <p></p>
                                        <span class="image featured"><a href="ressources/.pdf" target="_blank"><img src="images/" alt="" width="700" height="700" /></a></span>
                        -->
					</div>
                </div>
				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://twitter.com/iutinfometz" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.linkedin.com/groups/4911255/profile" class="icon fa-linkedin" target="_blank"><span class="label">Linkedin</span></a></li>
					</ul>
					<ul class="copyright">
						<li>Réalisé par </li>
					</ul>
					<ul class="copyright">
						<li>LICATA Flavien</li><li>PELLIZZERI Anthony</li>
						<li>ZENNER Julien</li>
					</ul>
					<ul class="copyright">
						<li>VAN HAAREN Lucas</li>
						<li>SEMINARIO Diego</li><li>BACCILIO Antony</li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>