<!DOCTYPE HTML>

<html lang="fr">
	<head>
		<title>Département Informatique IUT de Metz</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="icon" href="/images/favico.ico" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<h1><a href="index.html">Département Informatique</a> </h1>
					<nav id="nav">
						<ul>
							<li><a href="index.html">Actualités</a></li>
							<li>
								<a href="#">Stages</a>
								
									<li><a href="http://lpsil.iutmetz.univ-lorraine.fr/">License Pro</a></li>
									<li>
										<a href="#" class="icon fa-angle-down">Pendant le DUT</a>
										<ul>
											<li><a href="pres_requis.html">Pré-requis</a></li>
											<li><a href="premiere_annee.html">Première année</a></li>
											<li><a href="deuxieme_annee.html">Deuxième année</a></li>
											<li><a href="annee_speciale.html">Année spéciale</a></li>
										</ul>
									</li>
                            <li><a href="#">Après le DUT</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<h2>Département Informatique</h2>
					<p>Metz 57000 </p>
					
					</section>

			<!-- Main -->
				<section id="main" class="container">
                    
                    <section class="box special">
						<header class="major">
							<h2>Actualités</h2>
							<p></p>
						</header>
						<span class="image featured"><img src="images/Logo_IUT_Metz_UL.jpg" alt="Logo IUT" /></span>
					</section>

					<section class="box special features">
                        <div class="features-row">
                            <section>
								<span class="icon major fa-bolt accent2"></span>
								<h3>Règlement interieur</h3>
								<p>Voici les deux textes en vigueur :</p>
									<ul>
										<li>RI spécifique au <a href="ressources/riDepartementInfo.pdf">Département</a> approuvé par le Conseil du Département Informatique en novembre 2016 ;
										</li>
										<li>Règlement de l'<a href="http://www.iut-metz.univ-lorraine.fr//images/GrosFichiers/PDF/ReglementInterieur2016-2017.pdf">IUT</a>, applicable à tous les départements.</li>
                                    </ul>
							</section>
                            
							<section>
								<span class="icon major fa-area-chart accent3"></span>
								<h3>Evaluation des enseignants</h3>
								<p><a href="applis/evaluation">Application de saisie</a> de l'évaluation.</p>
							</section>
						</div>
						<div class="features-row">
							<section>
								<span class="icon major fa-cloud accent4"></span>
								<h3>Emploi du temps</h3>
								<p>Péride 42 du 19 juin</p>
							</section>
							<section>
								<span class="icon major fa-lock accent5"></span>
								<h3>Journées Portes Ouvertes 2016</h3>
								<p>Les JPO se sont déroulées le 27 février 2016. Grosse affluence sur le stand du département ! Au menu : présence d'étudiants, d'enseignants, mais aussi d'anciens étudiants du département, prêts à répondre à toutes les questions. Visite des locaux, démonstration de projets, etc.</p>
							</section>
						</div>
                    </section>

				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://twitter.com/iutinfometz" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.linkedin.com/groups/4911255/profile" class="icon fa-linkedin" target="_blank"><span class="label">Linkedin</span></a></li>
					</ul>
						<ul class="copyright">
						<li>Réalisé par </li>
					</ul>
					<ul class="copyright">
						<li>LICATA Flavien</li><li>PELLIZZERI Anthony</li>
						<li>ZENNER Julien</li>
					</ul>
					<ul class="copyright">
						<li>VAN HAAREN Lucas</li>
						<li>SEMINARIO Diego</li><li>BACCILIO Antony</li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>