<!DOCTYPE HTML>

<html lang="fr">
	<head>
		<title>DUT INFO - Première Année</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
        <link rel="icon" href="/images/favico.ico" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" >
					<h1><a href="index.html">Département Informatique</a> </h1>
					<nav id="nav">
						<ul>
							<li><a href="index.html">Actualités</a></li>
							<li>
								<a href="#">Stages</a>
								
									<li><a href="http://lpsil.iutmetz.univ-lorraine.fr/">License Pro</a></li>
									<li>
										<a href="#" class="icon fa-angle-down">Pendant le DUT</a>
										<ul>
											<li><a href="pres_requis.html">Pré-requis</a></li>
											<li><a href="premiere_annee.html">Première année</a></li>
											<li><a href="deuxieme_annee.html">Deuxième année</a></li>
											<li><a href="annee_speciale.html">Année spéciale</a></li>
										</ul>
									</li>
                            <li><a href="#">Après le DUT</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<section id="main" class="container">
					<header>
						<h2>Première année</h2>
						<p>Présentation des projet de première année durant le DUT Informatique de Metz </p>
					</header>
				<div class="box1">
					<h1> Premier semestre</h1>

					<div class="box">
						<h2>Projet tutoré 1</h2>
						<p>En premier les élèves ont dû réaliser un site internet statique. Trois thèmes différents étaient alors possible.</p>
						<h3> Compétences visées</h3>
						<p>Utilisation des langages HTML5/CSS3, travail de groupe. Elaboration d'un cahier des charges. Contrainte du temps. Partie communication.</p>
						<h3> Création d'un site web pour promouvoir le Département Informatique auprès des lycéens et lycéennes</h3>
						<p>L'idée de ce projet est de créer un site pour promouvoir le Département Informatique et le DUT Informatique auprès des lycéens et plus particulèrement auprès des lycéennes, rare dans cette filière.</p>
                        <span class="image featured"><a href="ressources/web.pdf" target="_blank"><img src="images/site1.PNG" alt="site de promotion du DUT Informatique" width="700" height="500"/></a></span>
						
						<h3> Création d'un site web présentant l'univers du chocolat</h3>
						<p>L'idée de ce projet est de créer un site pour présenter l'univers du chocolat. Le but est de retracer l'histoire du chocolat, informer le lecteur sur la fabrication, la composition des chocolats.</p>
						<span class="image featured"><a href="ressources/web.pdf" target="_blank"><img src="images/site2.PNG" alt="site chocolat" width="700" height="500"/></a></span>
						<h3> Création d'un site web présentant l'univers des jeux-vidéo</h3>
						<p>L'idée de ce projet est de créer un site rassemblant des informations sur les jeux vidéo. Les passionnés de jeux vidéos en sont comblés ! Enrichissez vos connaissances en termes de jeux vidéos et retracer l'histoire.</p>
                        <span class="image featured"><a href="ressources/web.pdf" target="blank"><img src="images/site3.PNG" alt="site jeux vidéos" width="700" height="500"/></a></span>
						
						<h3>Contraintes</h3>
						<p>La durée pour effectuer ce projet était d'un mois.</p>
					</div>
					
					<div class="box">
						<h2>Langage C</h2>
						<p>Résolution de grille de Soduko par notion de candidat.</p>
						<p>Le programme permet de résoudre les grilles de sudoku dites faciles et d'afficher leur solution. Si une grille est diffcile, le programme affiche les candidats des cases ouvertes restantes. L'affichage des solutions se fait en mode texte dans une fenêtre terminal.</p>
						<h3>Compétences visées</h3>
						<p>Utilisation du langage C. Approfondir la notion de structure, voir comment fonctionne la lecture dans un fichier .txt</p>
                        <span class="image featured"><a href="ressources/algoC.pdf" target="_blank"><img src="images/sudoku.PNG" alt="resolution d'un sudoku" width ="700" height="300"/></a></span>
						
					</div>
					
					<div class="box">
					<h2>Bases De Données</h2>
					<p>Une base de données est un outil permettant de stocker et de retrouver l'intégralité des données en rapport avec un thème ou une activité. des requêtes peuvent être formulées afin de selectionnées les données nécessaires à chaque demande</p>
					<p>D'une part, réaliser une base de donnée d'un championnat de tennis (les tables étaient definies dans le sujet), d'autre part trouver les requêtes correspondants aux demandes afin de s'initier à ce language</p>
					<h3>Objectifs visées</h3>
					<p>S'initier avec le Système de Gestion de Base de Données(SGBD) mySQL. Comprendre le fonctionnement d'une BDD.Etablir un jeu cohérent.</p>
                        <span class="image featured"><a href="ressources/BDD1.pdf" target="_blank"><img src="images/bdd1.PNG" alt="aperçu de la base à implémenter" width="700" height="300"/></a></span>
					</div>
				</div>
				
				
				<div class="box1">
					<h1>Deuxième semestre</h1>
					<p>Au second semestre, les étudiants doivent réalisés cinq projets.</p>
					<div class="box">
					<h2>Bases De Données</h2>
					<p>Dans la continuité du projet fait au semestre 1, écrire des requêtes afin de répondre au mieux a la demande des clients</p>
					<h3>Objectifs visées</h3>
					<p>Approfondir ses connaissances dans la gestion d'une base de donnée</p>
                        <span class="image featured"><a href="ressources/BDD2.pdf" target="_blank"><img src="images/bdd.PNG" alt="continuité du projet au semestre 1" width="700" height="500"/></a></span>
					</div>
					
					<div class="box">
					<h2>Assembleur</h2>
					<p>Réaliser un jeu en utilisant le langage MASM32</p>
					<h3>Définition</h3>
					<p>Un langage d'assemblage ou langage assembleur est un langage de bas niveau(le codage se rapproche du langage machine ex:01)</p>
					<h3>Objectifs visés</h3>
					<p>S'initier au langage MASM32 qui est un langage d'assembleur. Réussir à trouver les informations importantes dans un guide</p>
					<span class="image featured"><img src="images/sokoban.png" alt="Jeu réalisé en masm32" width="700" height="500"/></span>
					</div>
					
					
					<div class="box">
					<h2>Interface Homme Machine </h2>
					<p>Réaliser un application de gestion de la scolarité</p>
					<h3>Objectifs visés</h3>
					<p>Découvrir le langage Pascal qui est un langage de programmation impératif. Respecter un cahier des charges précis. Découvrir le logiciel de gestion de bases de données mysql workbench permettant entre autre de sauvegarder des requêtes(vue/procédure)afin des les réutiliser dans le logiciel</p>
                        <span class="image featured"><a href="ressources/IHM.pdf" target="_blank"><img src="images/ihm.PNG" alt="Aperçu logiciel de gestion de scolarité" width="700" height="500"/></a></span>
					</div>
					
					
					<div class="box">
					<h2>Conception Orientée Objet / Programmation Orienté Objet</h2>
					<p>Réaliser un logiciel de dessin</p>
					<h3>Réalisation</h3>
					<p>Ce projet sera l'objet de deux parties, l'une concernera la partie COO et l'autre POO</p>
					<h3>COO</h3>
					<p>Réaliser une modélisation UML de l'ensemble de l'application simplifiée de dessin assisté, en donnant les diagrammes de classes, d'objets et de séquences correspondants</p>
                        <span class="image featured"><a href="ressources/coo.pdf" target="_blank"><img src="images/coo.png" alt="diagramme de classe" width="700" height="500"/></a></span>
					<h3>POO</h3>
					<p>Porgrammer l'ensemble du projet dans le langage Java qui est un langage de programmation informatique orienté objet</p>
					<h3>Compétences visés</h3>
					<p>Comprendre l'importance des diagrammes de classes, d'objets et de séquences ainsi que découvrir le langage de programmation JAVA</p>
                        <span class="image featured"><a href="ressources/poo.pdf" target="_blank"><img src="images/poo.png" alt="Application de dessin assisté" width="700" height="500"/></a></span>
					</div>
					
					
					<div class="box">
					<h2>Projet Tutoré</h2>
					<p>Mettre en œuvre des méthodes de conduite de projet, tel que décrit dans le module M2107 du PPN 2013.</p>
					<h3>Objectifs visés</h3>
					<p>L'objectif principal de ce projet est de développer un site web destiné à présenter les projets réalisés par les étudiants de la formation (1ère Année, 2ème Année, Année Spéciale de DUT Informatique à Metz).</p>
					<p>Ce projet va permettre aux étudiants de découvrir de nouveaux logiciels de gestions ainsi que la répartition des taches et bien d'autre compétances qu'ils vont devoir acquerirs afin de réaliser aux mieux le site final</p>
                        <span class="image featured"><a href="ressources/projettutores2.pdf" target="_blank"><img src="images/gantt.PNG" alt="" width="700" height="500" /></a></span>
					</div>
                    
                    <!--
                    <div class="box">
					<h2></h2>
					<p></p>
					<h3>Objectifs visés</h3>
					<p></p>
					<p></p>
                        <span class="image featured"><a href="ressources/.pdf" target="_blank"><img src="images/" alt="" width="700" height="700" /></a></span>
					</div>
                    
                    <div class="box">
					<h2></h2>
					<p></p>
					<h3>Objectifs visés</h3>
					<p></p>
					<p></p>
                        <span class="image featured"><a href="ressources/.pdf" target="_blank"><img src="images/" alt="" width="700" height="700" /></a></span>
					</div>
                    -->
					
				</div>	
					</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://twitter.com/iutinfometz" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.linkedin.com/groups/4911255/profile" class="icon fa-linkedin" target="_blank"><span class="label">Linkedin</span></a></li>
					</ul>
					<ul class="copyright">
						<li>Réalisé par </li>
					</ul>
					<ul class="copyright">
						<li>LICATA Flavien</li><li>PELLIZZERI Anthony</li>
						<li>ZENNER Julien</li>
					</ul>
					<ul class="copyright">
						<li>VAN HAAREN Lucas</li>
						<li>SEMINARIO Diego</li><li>BACCILIO Antony</li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>