<!DOCTYPE HTML>

<html lang="fr">
	<head>
		<title>DUT INFO - Près requis</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
        <link rel="icon" href="/images/favico.ico" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>
	
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" >
					<h1><a href="index.html">Département Informatique</a> </h1>
					<nav id="nav">
						<ul>
							<li><a href="index.html">Actualités</a></li>
							<li>
								<a href="#">Stages</a>
								
									<li><a href="#">License Pro</a></li>
									<li>
										<a href="#" class="icon fa-angle-down">Pendant le DUT</a>
										<ul>
											<li><a href="#">Pré-requis</a></li>
											<li><a href="premiere_annee.html">Première année</a></li>
											<li><a href="deuxieme_annee.html">Deuxième année</a></li>
											<li><a href="annee_speciale.html">Année spéciale</a></li>
										</ul>
									</li>
                            <li><a href="#">Après le DUT</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<section id="main" class="container">
					<header>
						<h2>Pendant le DUT</h2>
						<p>Présentation des projet durant le DUT Informatique de Metz </p>
					</header>
					<div class="box">
						<h3>Prés requis</h3>
						<p>Les projets sont destinés à faciliter l'acquisition de la pratique et le maniement des concepts enseignés. Plus particulièrement, ils doivent favoriser l'acquisition d'un « savoir-faire » et d'un « savoir être » dans une optique professionnelle. Ils doivent ainsi développer les qualités d'organisation et de méthode. Réalisés individuellement ou collectivement, ils doivent améliorer la qualité du travail personnel et permettre l'apprentissage du travail professionnel en groupe. Les projets doivent déboucher sur une réalisation concrète, suivie et évaluée par les enseignants tuteurs des sujets traités. Il est souhaitable de proposer des projets à caractère interdisciplinaire intégrant plusieurs matières du programme, et de faire rédiger par l'étudiant un résumé du projet ou une sélection de mots clés, en anglais et en français.</p>
                    </div>
				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://twitter.com/iutinfometz" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.linkedin.com/groups/4911255/profile" class="icon fa-linkedin" target="_blank"><span class="label">Linkedin</span></a></li>
					</ul>
					<ul class="copyright">
						<li>Réalisé par </li>
					</ul>
					<ul class="copyright">
						<li>LICATA Flavien</li><li>PELLIZZERI Anthony</li>
						<li>ZENNER Julien</li>
					</ul>
					<ul class="copyright">
						<li>VAN HAAREN Lucas</li>
						<li>SEMINARIO Diego</li><li>BACCILIO Antony</li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>